<h1><%= @restaurant.name %></h1>
<ul>
    <li><%= @restaurant.address %></li>
    <li><%= @restaurant.category %></li>
    <li><%= @restaurant.phone_number %></li>
</ul>
<button class="btn"> <%= link_to 'See all reviews', restaurant_reviews_path(@restaurant.id) %></button>
<button class="btn"> <%= link_to 'Write a review', new_restaurant_review_path(@restaurant.id) %></button>
